# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache

# Others
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.hypothesis
